<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontApp-01_html</title>
</head>
<body>
        <h3>
            01_html 페이지 입니다.
        </h3>
        <hr/>
        <a href="/front/">[FrontApp 바로가기]</a>
        <hr/>
        <p>
            p태그는 문장에서 문단,
            즉 단락을 나누는 역할을 수행하는 태그이다.
            줄 바꿈을 해도 한줄로만 인식을 하는 태그이다.
            <br/>
            - 줄 바꿈을 하려면 br 태그를 사용해야 한다.
        </p>
        <p>
            p태그는 문장에서 문단,
            즉 단락을 나누는 역할을 수행하는 태그이다.
            줄 바꿈을 해도 한줄로만 인식을 하는 태그이다.
            <br/>
            <p>
                - 줄 바꿈을 하려면 br 태그를 사용해야 한다.
            </p>
        </p>
        <pre>
            pre 태그는 내가 작성한 모양 그대로를 출력해 준다.
            - 줄바꿈도 자동으로 해준다.
                -- 들여쓰기도 자동으로 된다.
            - 텍스트 굵기는 가장 기본 굵기를 사용한다.
              (p태그 내에 작성된 텍스트는 볼드체(굵게) 표시된다.)
        </pre>
        <pre>
pre 태그는 내가 작성한 모양 그대로를 출력해 준다.
- 줄바꿈도 자동으로 해준다.
    -- 들여쓰기도 자동으로 된다.
- 텍스트 굵기는 가장 기본 굵기를 사용한다.
    (p태그 내에 작성된 텍스트는 볼드체(굵게) 표시된다.)
        </pre>
</body>
</html>