<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03_css - FrontApp 페이지</title>
</head>
<body>
    <!--
        (CSS : Cascading Style Sheets)
        - 보통 "스타일 시트"라고 칭한다.
    -->
    <h3 style="background-color : rgb(10, 100, 0); color : white;">03_css - FrontApp 페이지</h3>
    <a href="/front/" style="color: aqua; background-color : blue;" >
        [FrontApp 바로가기]
    </a>
     |
    <a href="/front/" style="color: aqua; background-color : blue;" >
        [FrontApp 바로가기]
    </a>
    <hr/>
    <!-- 
        a 태그 열 단위
        h 태그 행 단위
    -->
</body>
</html>