<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04_css - FrontApp 페이지</title>
    <style>
        h3 {
            background-color: black;
            color : yellow;
        }

        a {
            background-color: green;
            color : aqua;
        }
    </style>
</head>
<body>
    <h3 >04_css - FrontApp 페이지</h3>
    <a href="/front/"  >
        [FrontApp 바로가기]
    </a>
    <hr/>
    <h3>
        h3 스타일이 이곳에도 적용된다.
    </h3>
</body>
</html>