<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontApp</title>
</head>
<body>
    <h3>FrontApp-MainApp Page</h3>
    <p>
        <a href="/">[MainApp 바로가기]</a>
    </p>
    <h3>FrontApp-01_html Page</h3>
    <p>
        <a href="/front/01_html/">[01_html 바로가기]</a>
    </p>
    <h3>FrontApp-02_link Page</h3>
    <p>
        <a href="/front/02_link/">[02_link 바로가기]</a>
    </p>
    <h3>FrontApp - 03_css Page</h3>
    <p>
        <a href="/front/03_css/">[03_css 바로가기]</a>
    </p>
    <h3>FrontApp - 04_css Page</h3>
    <p>
        <a href="/front/04_css/">[04_css 바로가기]</a>
    </p>
    <h3>FrontApp - 05_css Page</h3>
    <p>
        <a href="/front/05_css/">[05_css 바로가기]</a>
    </p>
    <h3>FrontApp - 06_css Page</h3>
    <p>
        <a href="/front/06_css/">[06_css 바로가기]</a>
    </p>
    <h3>FrontApp - 07_table Page</h3>
    <p>
        <a href="/front/07_table/">[07_table 바로가기]</a>
    </p>
    <h3>FrontApp - 08_table Page</h3>
    <p>
        <a href="/front/08_table/">[08_table 바로가기]</a>
    </p>
    <h3>FrontApp - 09_table Page</h3>
    <p>
        <a href="/front/09_table/">[09_table 바로가기]</a>
    </p>
</body>
</html>